body {
	width: 80%;
	margin: 0px auto;
	color: #333;
	background: #ccc;
	font-family: helvetica, arial, sans-serif;
	min-width: 850px;
}
#container {
	margin: 0 auto;
	width: 100%;
	background: #ccc;
}

header {
	color: #000;
	background: #CFB86A;
	padding: 20px;
}

header h1 { 
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	margin: 0; 
}

nav {
	float: left;
	width: 100%;
	background: #4D4D4D;
}

nav ul {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline;
}

nav li a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

nav li a:hover { 
	background: #838271; 
}

#content-container {
	float: left;
	width: 100%;
	background: #FFF repeat-y 68% 0;
}

#content {
	clear: left;
	float: left;
	width: 90%; 
	padding: 20px 0;
	margin: 0 0 0 4%;
	font-family: Verdana, Geneva, sans-serif;
}

#content h2 { 
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #CC5F39;
	margin: 0; 
	font-size: 2em;
	text-shadow: 0 2px white, 0 3px #ccc;
}

#content h3 { 
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color: #CC5F39;
	margin: 0; 
	font-size: 1.5em;
}

aside {
	display: none;
}

aside h3 { 
	color: #CC5F39;
	font-family: Georgia, Times, "Times New Roman", serif;
	margin: 0; 
}

footer {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	clear: left;
	color: #fff;
	background: #4D4D4D;
	text-align: center;
	padding: 5px 20px;
	height: 1%;
}
@media (min-width: 170px) {
	aside {
		float: right;
		width: 26%;
		padding: 20px 0;
		margin: 0 3% 0 0;
		font-family: Verdana, Geneva, sans-serif;
		font-size: .9em;
		display: block;
	}
	#content {
		width: 60%;
	}
}
@media (min-width: 570px) {
	#content h2 + p , h2 + ul {
		-moz-column-count: 2;
		-moz-column-gap: 1.66em;
		-webkit-column-count: 2;
		-webkit-column-gap: 1.66em;
		column-count: 2;
		column-gap: 1.66em;
	}
}
